#AboutSection {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 6% 4%;
}

#AboutSection h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    margin-bottom: 1%;
}

#AboutSection h3 {
    font-weight: 100;
    font-family: 'Cinzel', serif;
    margin: 1%;
    color: #998308;
}

#AboutSection p {
    font-size: 1.1em;
}

#AboutSection i {
    font-size: 10em;
}

#AboutSection .icon-row {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
}

#AboutSection .icon-box h5 {
    margin: 5% 0;
    font-family: 'Cinzel', serif;
    font-size: 0.7em;
}

#AboutSection .icon-box i {
    font-size: 2em;
}

@media screen and (min-width: 320px) and (max-width: 830px) and (orientation: landscape) {
    #AboutSection {
        padding: 4%;
    }
}

@media screen and (min-width: 830px) {
    #AboutSection {
        font-size: 1.75em;
        width: 60%;
        padding: 3% 1%;
    }
    #AboutSection .icon-box i {
        font-size: 3em;
    }
}