#AboutSection {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.75em;
    padding: 1%;
}

#AboutSection h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 100;
    margin-bottom: 1%;
}

#AboutSection h3 {
    font-weight: 100;
    font-family: 'Cinzel', serif;
    margin: 1%;
    color: #d3b305;
    text-shadow: -1px 0px 2px #000;
}

#AboutSection p {
    font-size: 1.2rem;
}

#AboutSection i {
    font-size: 10rem;
}

#AboutSection .icon-row {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 1% auto;
}

#AboutSection .icon-box h5 {
    margin: 5% 0;
    font-family: 'Cinzel', serif;
    font-size: 0.7em;
}

#AboutSection .icon-box i {
    font-size: 3rem;
}