.logo-container {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    padding: 3.5% 1%;
}

.logo-container h1 {
    font-size: 3em;
    font-weight: 100;
    font-family: 'Cinzel Decorative', cursive;
    margin: 0;
    letter-spacing: 5px;
}

.logo-container h4 {
    color: #97404a;
    letter-spacing: 2px;
    margin: 0;
}

.logo-container i {
    color: #b69f31;
    margin: 0 1%;
}

.navigation-checkbox {
    display: none;
}

.navigation-button {
    background-color: #fff;
    height: 6em;
    width: 6em;
    border: 1px solid hsla(0, 0%, 86%, 0.3);
    position: fixed;
    top: 1em;
    right: 3em;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1em 2.5em rgba(0, 0, 0, 0.25);
    text-align: center;
    cursor: pointer;
}

.navigation-background {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    position: fixed;
    top: 1.5em;
    right: 3.5em;
    background-image: radial-gradient(#665b25, transparent);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -50%;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation-list {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation-item {
    margin: 1em;
}

.navigation-link:link,
.navigation-link:visited {
    font-size: 3em;
    font-weight: 300;
    padding: 0.5em 2em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    display: inline-block;
    transition: all .4s;
    width: 20%;
}

.navigation-link:hover,
.navigation-link:active {
    background-position: 100%;
    color: #641018;
    transform: translateY(-0.5em);
}

.navigation-checkbox:checked~.navigation-background {
    transform: scale(80);
}

.navigation-checkbox:checked~.navigation-nav {
    opacity: 1;
    width: 100%;
}

.navigation-icon {
    position: relative;
    margin-top: 3em;
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
    width: 2.5em;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.navigation-icon::before,
.navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navigation-icon::before {
    top: -.6em;
}

.navigation-icon::after {
    top: .6em;
}

.navigation-button:hover .navigation-icon::before {
    top: -1em;
}

.navigation-button:hover .navigation-icon::after {
    top: 1em;
}

.navigation-checkbox:checked+.navigation-button .navigation-icon {
    background-color: transparent;
}

.navigation-checkbox:checked+.navigation-button .navigation-icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation-checkbox:checked+.navigation-button .navigation-icon::after {
    top: 0;
    transform: rotate(-135deg);
}